<div id="login">
  <h3 class="text-center text-white pt-5">Login form</h3>
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <form id="login-form" class="form" (ngSubmit)="login()">
            <h3 class="text-center text-info">Login</h3>
            <div class="form-group">
              <label class="text-info">Username:</label><br>
              <input type="text" name="username" [(ngModel)]="user.userName" class="form-control">
            </div>
            <div class="form-group">
              <label class="text-info">Password:</label><br>
              <input type="password" name="password" [(ngModel)]="user.password" class="form-control">
            </div>
            <div class="form-group">
              <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" [checked]="rememberMe" type="checkbox"></span></label><br>
              <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

